* {
    margin: 0;
    padding: 0;
}

.nav {
    height: 7vh;
    background-color: rgb(177, 177, 177);
    margin-bottom: 20px;
}

.main {
    display: inline-flex;
/*    border: 1px solid black; */
    width: 100%;
}

.l-side-bar {
    width: 65%;
    height: 90vh;
    background-color: rgb(177, 177, 177);

    position: relative;
}

.r-side-bar {
    width: 35%;
    height: 90vh;
    background-color: rgb(219, 219, 219);
}

.header-side {
    height: 30px;
    background-color: rgb(196, 189, 189);

    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 92%;
    background-color: rgb(196, 189, 189);
}

.l-content {
    width: 62%;
    height: 100%;
    background-color: rgb(231, 225, 225);
}

.r-content {
    width: 35%;
    height: 100%;
    background-color: rgb(99, 98, 98);
}