body {
 margin: 0;
}

.main {
    position: absolute;
    left:50%;
    top:20%;
    transform: translateX(-50%);
    width: 60%;
    background-color: gray;
    padding: 20px;
}

.logo {
    height: 20px;
    background-color:whitesmoke;
    margin-bottom: 5px;
    padding: 10px 10px 10px 20px;
}

.navbar {
    text-align: center;
    padding: 2px 2px;;
    background-color:  whitesmoke;
    margin-bottom: 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color:whitesmoke;
    margin-bottom: 20px;
}

.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25%;
    height: 800px;
    background-color:whitesmoke;
    margin-right: 20px;
    margin-bottom: 20px;
}

.bd {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 72.5%;
    height: 800px;
    background-color:whitesmoke;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    background-color:whitesmoke;
}